page-fav {
    overflow: scroll;
    overflow-x: hidden;
}

.titlestyle{
    color: #EC70A4;
    font-weight: bold;
}
.data{
    color: white!important;
    text-align: left;
    padding-left:5vw;
}
 

.notification-btn-fav{
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    font-size: 28px;
    color: white;
    }